{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Create New Project {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <br />
        <form action="" method="post">
            <input type="text" placeholder="Project Name" name="name" value="{{ request.form.name }}" />
            <br><br>
            <textarea placeholder="Description" name="description" rows="8" cols="30"></textarea>
            <br><br>
            <input type="text" placeholder="Date Due YYYY-MM-DD" name="date_due" value="{{ request.form.date_due}}" />
            <br><br>
            <input class="btn btn-default" type="submit" value="Create" />
        </form>
    </div>
{% endblock %}
