{% extends 'base.html' %}

{% block title %}{{ thisproject.title }}{% endblock %}

{% block pagenav %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dd_prmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project Menu</a>
    <div class="dropdown-menu" aria-labelledby="dd_prmenu">
      <a class="dropdown-item" href="{{ url_for('project.newtask', pid=thisproject.pid) }}">New task</a>
      <a class="dropdown-item" href="{{ url_for('project.announce', pid=thisproject.pid) }}">Make announcement</a>
      <a class="dropdown-item" href="{{ url_for('project.settings', pid=thisproject.pid) }}">Edit project settings</a>
      <a class="dropdown-item" href="{{ url_for('project.leave', pid=thisproject.pid) }}">Leave project</a>

    </div>
  </li>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Project Details</h2>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Project Team
    </div>
    <ul class="list-group list-group-flush">
      {% for member in projectteam %}
      <li class="list-group-item">{{ demystify(member.firstname) }} {{ demystify(member.lastname) }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
	<div class="container">
    <h2>Announcements</h2>

    {% for a in announcements %}
        <strong>{{a.content}}</strong> <br>
        Created by {{demystify(a.firstname) + ' ' + demystify(a.lastname)}} on {{' ' + a.date_made}}<br>
    {% else %}
      No announcements yet.
    {% endfor %}

		<br>
	</div>

  <div class="container">
    <h2>Tasks</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="inprogress-tab" data-toggle="tab" href="#inprogress" role="tab" aria-controls="inprogress" aria-selected="false">In Progress</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="underreview-tab" data-toggle="tab" href="#underreview" role="tab" aria-controls="underreview" aria-selected="false">Under Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="complete-tab" data-toggle="tab" href="#complete" role="tab" aria-controls="complete" aria-selected="false">Complete</a>
      </li>

    </ul>

    {# draw the status tabs, programmatically. It's a little non-trivial. #}
    <div class="tab-content" id="myTabContent">
      {% for index, option in enumerate(['new', 'in progress', 'under review', 'complete']) %}
      <div class="tab-pane fade show {% if index == 0 %}active{% endif %}" id="{{option|replace(' ', '')}}" role="tabpanel" aria-labelledby="{{ option|replace(' ', '') }}-tab">
        <br >
        {% for t in tasks if t['status'] == option %}
        <div class="container-fluid">
          <div class="card shadow">
            <h5 class="card-header">{{ t.title }} <span class='badge badge-warning'>{{ option|capitalize }}</span></h5>
            <div class="card-body">
              <h5 class="card-title">Added by {{ demystify(t.firstname) }} {{ demystify(t.lastname) }}</h5>
              {% for line in t.description.split('\n') if line != '' %}
              <p class="card-text">{{ line }}</p>
              {% endfor %}
              <a href="{{ url_for('task.edit', tid=t.tid) }}" class="btn btn-primary">Update task</a>
            </div>
            <div class="card-footer text-muted">
              Last updated {{ t.date_updated }}
            </div>
          </div>
        </div>
        <br>
        {% else %}
        No tasks.
        {% endfor %}
      </div>
      {% endfor %}
    </div>

{% endblock %}
