{% extends 'base.html' %}

{% block title %}{{ thisproject.title }}{% endblock %}

{% block pagenav %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dd_prmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project Menu</a>
    <div class="dropdown-menu" aria-labelledby="dd_prmenu">
      <a class="dropdown-item" href="{{ url_for('project.settings', pid=thisproject.pid)}}">Edit project settings</a>
      <a class="dropdown-item" href="#">Make announcement</a>
      <a class="dropdown-item" href="#">[placeholder]</a>
    </div>
  </li>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Project Details</h2>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Project Team
    </div>
    <ul class="list-group list-group-flush">
      {% for member in projectteam %}
      <li class="list-group-item">{{ demystify(member.firstname) }} {{ demystify(member.lastname) }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
	<div class="container">
    <h2>Announcements</h2>

    {% for a in announcements %}
        <strong>{{a.content}}</strong> <br>
        Created by {{demystify(a.firstname) + ' ' + demystify(a.lastname)}} on {{' ' + a.date_made}}
    {% endfor %}

		<br>
	</div>

  <div class="container">
    <h2>Tasks</h2>

    {% for t in tasks %}
    <div class="container-fluid">
      <div class="card">
        <h5 class="card-header">{{ t.title }} [status badge]</h5>
        <div class="card-body">
          <h5 class="card-title">Added by {{ demystify(t.firstname) }} {{ demystify(t.lastname) }}</h5>
          <p class="card-text">{{ t.description }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          Last updated {{ t.date_updated }}
        </div>
      </div>
    </div>
    <br />
    <!-- XXX
    <div class="container-fluid"
    <form action="" method="POST" name="update task">
        <strong>{{t.title}}</strong> {{'            ' + t.status }} <select name="status">
          <option value="" selected disabled hidden>Update status</option>
          <option value="new"> new </option>
          <option value="in progress"> in progress </option>
          {% if g.rank < 3 %}
            <option value="under review"> complete </option>
          {% else %}
            <option value="complete"> complete </option>
          {% endif %}
        </select>
        <button name="taskid" type="submit" value={{t.tid}}>Submit</button>
      <br>
      </form>

        Last updated by {{demystify(t.firstname) + ' ' + demystify(t.lastname)}} on {{' ' + t.date_updated}} <br>
      </div>
      -->
    {% endfor %}
		<br>
	</div>
{% endblock %}
