{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <h1>{% block title %}New user{% endblock %}</h1>
      <form action="" method="POST" name="new_user_form">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" placeholder="First Name" name="firstname" />
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" placeholder="Last Name" name="lastname" />
        <label for="email">Email</label>
        <input type="text" class="form-control" placeholder="Email" name="email" />
        <label for="level">User level</label>
        <select name="level" class="form-control">
          <option value="1"> User </option>
          <option value="3"> Manager </option>
          <option value="5"> Admin </option>
        </select>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>

      </form>
    </div>
{% endblock %}
