<!DOCTYPE html>
	<title>{% block title %}{% endblock %} - PTrak</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css')}}">

{% block includes %}{% endblock %}

	<ul id="nav">
		<li><a class="brandImg" href="{{url_for('testindex')}}"> PTrak </a></li>
		{% if g.user %}
		<li><a href="{{url_for('my.dashboard')}}"> Dashboard </a></li>
		{% if len(g.unreadmsgs) > 0 %}
		<li><a href="{{url_for('my.messages')}}"> Messages ({{ len(g.unreadmsgs) }})</a></li>
		{% else %}
		<li><a href="{{url_for('my.messages')}}"> Messages </a></li>
		{% endif %}

		<div class="navRight">
			<div class="dropdown">
				<li class="dropdown-btn"><a href="#"> User Settings </a></li>
				<div class="dropdown-content">
					{% if g.user.level == 5%}
					<a href="{{url_for('user.new')}}"> Create New User </a>
					{% endif %}
					<a href="{{url_for('user.resetPwd')}}"> Change Password </a>
				</div>
			</div>
			<li><a href="{{url_for('user.logout')}}"> Logout </a></li>
		</div>
		{% else %}
		<div class="navRight">
			<li><a href="{{url_for('user.login')}}"> Login </a></li>
		</div>
		{% endif %}
	</ul>

	<div id="spacing"></div>
	<section class="content">
		<header>
			{% block header %}{% endblock %}
		</header>
		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }} </div>
		{% endfor %}
		{% block content %}{% endblock %}
