{% extends 'base.html' %}


  {% block title %}Dashboard{% endblock %}


{% block content %}
<div class="container">
		<h2>My Projects</h2>

    {% for project in userProjects %}
        <!-- <a href="{{ url_for('project.project', pid=project.pid) }}">{{project.title}}</a>{{'  ' + 'Due Date:'}}{{project.date_due}} -->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">[Rank placeholder]</h6>
            <p class="card-text">{{ project.description }}</p>
            <a href="{{ url_for('project.project', pid=project.pid) }}" class="card-link">Project Details</a>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
