{% extends 'base.html' %}


  {% block title %} Messages {% endblock %}


{% block content %}

<div class="container-fluid">
  <h2>Inbox</h2>
  <div class="accordion" id="messageaccordion">
    {% for index, message in enumerate(messages) %}
    <div class="card">
      <div class="card-header" id="heading-{{ message.mid }}">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#message-{{ message.mid }}" aria-expanded="true" aria-controls="collapseOne">
            {{ demystify(message.firstname) }} {{ demystify(message.lastname) }} - {{ message.subject }}
          </button>
        </h5>
      </div>

      <div id="message-{{ message.mid }}" class="collapse" aria-labelledby="heading-{{ message.mid }}" data-parent="#messageaccordion">
        <div class="card-body">
          {% for line in message.content.split('\n') %}
            {{ line }} <br>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


      <h2> New Message</h2>
      <form action="" method="POST" name="create_new_msg">
          <label for="recipient">Send To</label>
          <select class="form-control" name="recipient">
            {% for user in users %}
              <option value="{{user.uid}}">  {{ demystify(user.firstname) + ' ' + demystify(user.lastname) + ': ' + demystify(user.email) }} </option>
            {% endfor %}
          </select>
          <label for="subject">Subject</label>
          <input class="form-control" type="text" placeholder="Subject" name="subject">
          <label for="content">Content</label>
          <textarea class="form-control" name="content" rows="15" cols="49"></textarea>
          <br/>
          <input class="form-control" type="submit" value="Send Message"/>
      </form>
{% endblock %}

<!-- @bp.route('/my/messages', methods=('GET', 'POST'))
     @login_required#(level=0)
     def messages():
      if request.method=='POST':
          source = *- TARGET CURRENT USER'S ID HERE -*
          recipient = request.form['recipient'] <- Will need to target their ID
          content = request.from['content']
          date_sent = CURRENT_TIMESTAMP

          error = None

          if content is None:
            error = 'No message content.'
          # Possibly run more checks for errors in creation of new message

        if error is None:
          dbcursor = get_db().cursor()
          dbcursor.execute(
            *- INSERT NEW MESSAGE INTO TABLE -*

          )
          flash('Message Sent')
          return redirect(url_for('testindex')) #Possibly redirect back to messages on success?
        flash(error)
        return render_template('/my/messages.html') #Show messages again on error?

-->
